<!DOCTYPE html>
<html>
<head>
	<title>Classic Pong Game</title>
</head>
<body>
	<h1>Creating a Classic Pong Game</h1>
	<p>For my school project, I decided to create a classic Pong game using 
        my brand new coding skills. It was an exciting experience for me because before this class I had no coding experience at all,    
        but the "what if" question was always there for me. It allowed me to explore my curiosity for programming and put my new knowledge into
        practice. Even though I haven't finished the game yet, I already feel like I've accomplished a significant milestone in my life.</p>

	<h2>Learning Event Listeners and Handlers</h2>
	<p>One of the things I learned in class that I found interesting was how 
        to use event listeners and handlers to control the game paddles using 
        the arrow keys. It fascinated me how something as simple as moving the paddle 
        required so much care. For example; if one letter is on the wrong place
         nothing will work. But thanks to this project, I had the chance to 
         discover how these listeners and handlers work, and I was amazed at how 
         they could enhance the game's interactivity. My goal was to create a
          user-friendly interface that anyone could use to control the game and enjoy it.</p>

	<h2>Using Constants to Manage Dynamics</h2>
	<p>Another crucial skill that I learned during this 
        project was how to use constants to manage the game's 
        dynamics efficiently. Before this, I had to edit the code 
        manually every time I wanted to change values such as paddle 
        speed or score goals. But with this technique, I was
         able to modify the gameplay features much easier and 
         faster. I realized that using constants is vital to 
         keep the code simple and efficient, and it's something that I will use in the future.</p>

	<h2>Programming Techniques for Visual Appeal</h2>
	<p>Finally, I used several programming techniques such as
         loops, conditional statements, animation, and styling
          to make the Pong game look sleek and visually appealing.
           It was essential for me to not only create a functional
            game but also something that players could enjoy looking at.</p>

	<h2>Conclusion</h2>
	<p>In conclusion, developing the Pong game has been a fun and rewarding
         experience for me. I'm thrilled to have had the opportunity to 
         apply my coding skills to create something that I can use and 
         enjoy. This project has exposed me to many programming techniques 
         that I will use in the future, and I'm grateful to my school 
         faculty and specially to my teacher Joe Jackson for their guidance and support.</p>
</body>
</html>